In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
## You will need to download the CSV files from here: 



imdb_movies = pd.read_csv('/content/drive/MyDrive/datasets/datasets_kaggle/IMDB/IMDb_movies.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
imdb_movies.title.nunique()

82094

In [ ]:
imdb_movies.loc[(imdb_movies['original_title'].str.contains("Rings")),:]

In [15]:
# drop unnecessary columns

imdb_movies.drop(['date_published', 'metascore', 'reviews_from_users', 'reviews_from_critics','budget','usa_gross_income'], axis = 1, inplace = True)

In [16]:
imdb_movies['language'].value_counts()

English                                                                                35939
French                                                                                  3903
Spanish                                                                                 2831
Japanese                                                                                2826
Italian                                                                                 2731
                                                                                       ...
Tupi, German, Portuguese, French                                                           1
English, Swahili, Nama, Xhosa, Korean                                                      1
English, Greek, Bulgarian, Albanian, Serbian, Romanian, Kurdish, Macedonian, German        1
English, Arabic, Italian                                                                   1
English, Mandarin, Thai                                                                    1
Name: language, Length: 4377, dtype: int64

In [17]:
imdb_movies.head()

  imdb_title_id                        title  ... votes worlwide_gross_income
0     tt0000009                   Miss Jerry  ...   154                   NaN
1     tt0000574  The Story of the Kelly Gang  ...   589                   NaN
2     tt0001892               Den sorte drøm  ...   188                   NaN
3     tt0002101                    Cleopatra  ...   446                   NaN
4     tt0002130                    L'Inferno  ...  2237                   NaN

[5 rows x 16 columns]

In [34]:
imdb_movies.language.str.contains('French').value_counts()

False    76864
True      8158
Name: language, dtype: int64

In [35]:
imdb_movies

      imdb_title_id  ... worlwide_gross_income
0         tt0000009  ...                   NaN
1         tt0000574  ...                   NaN
2         tt0001892  ...                   NaN
3         tt0002101  ...                   NaN
4         tt0002130  ...                   NaN
...             ...  ...                   ...
85850     tt9908390  ...             $ 3507171
85851     tt9911196  ...             $ 7299062
85852     tt9911774  ...                   NaN
85853     tt9914286  ...                $ 2833
85854     tt9914942  ...               $ 59794

[85855 rows x 16 columns]

In [36]:
# Let's get just movies in with English ot French in the language

imdb_movies_eng_fr = imdb_movies.loc[(imdb_movies['language'].str.contains("English")) | (imdb_movies['language'].str.contains("French"))]

In [ ]:
# We still have Titanic

imdb_movies_eng_fr.loc[(imdb_movies_eng_fr['original_title'].str.contains("Titanic")),:]

In [43]:
# Over 5000 votes for English, over 500 for French

imdb_movies_eng_fr_filt = imdb_movies_eng_fr[((imdb_movies_eng_fr.votes > 5000) & (imdb_movies_eng_fr['language'].str.contains("English")))| 
                                             ((imdb_movies_eng_fr.votes > 500) & (imdb_movies_eng_fr['language'].str.contains("French")))]

In [ ]:
imdb_movies_eng_fr_filt

In [ ]:
# We still have Titanic

imdb_movies_eng_fr_filt.loc[(imdb_movies_eng_fr_filt['original_title'].str.contains("Titanic")),:]

In [47]:
# we still have a good proportion of French films 

imdb_movies_eng_fr_filt.language.str.contains('French').value_counts()

False    8942
True     4622
Name: language, dtype: int64

In [48]:
imdb_movies_eng_fr_filt.sort_values(['votes'], ascending = False)

      imdb_title_id  ... worlwide_gross_income
28453     tt0111161  ...            $ 28815245
48078     tt0468569  ...          $ 1005455211
57475     tt1375666  ...           $ 869784991
32487     tt0137523  ...           $ 101218804
28381     tt0110912  ...           $ 222831817
...             ...  ...                   ...
52135     tt0991350  ...             $ 3847751
26528     tt0104105  ...                   NaN
55297     tt1196329  ...             $ 1746131
61225     tt1718801  ...             $ 6846472
44328     tt0380344  ...             $ 1838920

[13564 rows x 16 columns]

In [ ]:
# Final Checks:

imdb_movies_eng_fr_filt.loc[(imdb_movies_eng_fr_filt['original_title'].str.contains("Potter")),:]

In [ ]:
imdb_movies_eng_fr_filt.loc[(imdb_movies_eng_fr_filt['original_title'].str.contains("Titanic")),:]

In [ ]:
imdb_movies_eng_fr_filt.loc[(imdb_movies_eng_fr_filt['original_title'].str.contains("Bourne")),:]

In [52]:
# remove 'title' column, it seems useless (either italian or a repetition )

imdb_movies_eng_fr_filt.drop('title', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [58]:
imdb_movies_eng_fr_filt.loc[(imdb_movies_eng_fr_filt['year'].str.contains("TV"))]

ValueError: ignored

In [56]:
imdb_movies_eng_fr_filt.isna().sum()

imdb_title_id               0
original_title              0
year                        0
genre                       0
duration                    0
country                     0
language                    0
director                    0
writer                     26
production_company         28
actors                      1
description                37
avg_vote                    0
votes                       0
worlwide_gross_income    2944
dtype: int64

In [59]:
imdb_movies_eng_fr_filt['year'].value_counts()

2011    444
2009    442
2008    434
2006    409
2007    408
       ...
1914      1
1915      1
1922      1
1918      1
2011      1
Name: year, Length: 117, dtype: int64

In [57]:
imdb_movies_eng_fr_filt.isnull().sum()

imdb_title_id               0
original_title              0
year                        0
genre                       0
duration                    0
country                     0
language                    0
director                    0
writer                     26
production_company         28
actors                      1
description                37
avg_vote                    0
votes                       0
worlwide_gross_income    2944
dtype: int64

In [60]:
imdb_movies_eng_fr_filt.loc[(imdb_movies_eng_fr_filt['year']=="\\N")]

Empty DataFrame
Columns: [imdb_title_id, original_title, year, genre, duration, country, language, director, writer, production_company, actors, description, avg_vote, votes, worlwide_gross_income]
Index: []

In [62]:
imdb_movies_eng_fr_filt['year'].unique()

array([1913, 1914, 1915, 1916, 1918, 1919, 1921, 1922, 1923, 1925, 1924,
       1926, 1983, 1927, 1928, 1929, 1930, 1931, 1937, 1932, 1933, 1934,
       1935, 1936, 1940, 1938, 1939, 1941, 1942, 1943, 2001, 1944, 1946,
       1945, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956,
       1957, 1958, 1959, 1962, 1960, 1961, 1963, 1964, 1965, 1967, 1966,
       1968, 1969, 1970, 1971, 1972, 1973, 2018, 1974, 1975, 1976, 1977,
       1978, 1979, 1980, 1981, 1982, 1984, 1985, 1986, 1988, 1987, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1997, 1996, 1999, 1998, 2000,
       2002, 2005, 2003, 2004, 2008, 2006, 2007, 2011, 2009, 2012, 2013,
       2014, 2015, 2016, 2019, 2010, 2017, 2020, '2013', '2017', '2015',
       '2018', '2012', '2014', '2016', '2019', '2011', '2020',
       'TV Movie 2019'], dtype=object)

In [73]:
imdb_movies_eng_fr_filt['year'].astype(int)

11       1913
13       1913
16       1913
27       1914
61       1915
         ...
85747    2020
85761    2019
85811    2019
85817    2018
85839    2020
Name: year, Length: 13563, dtype: int64

In [72]:
# Bad Education is a "TV movie" (year)!! 

imdb_movies_eng_fr_filt.loc[(imdb_movies_eng_fr_filt['original_title']=="Bad Education")]

Empty DataFrame
Columns: [imdb_title_id, original_title, year, genre, duration, country, language, director, writer, production_company, actors, description, avg_vote, votes, worlwide_gross_income]
Index: []

In [71]:
# Drop this film by the index

imdb_movies_eng_fr_filt.drop([83917], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
# Now it works
imdb_movies_eng_fr_filt['year'].astype(int)

11       1913
13       1913
16       1913
27       1914
61       1915
         ...
85747    2020
85761    2019
85811    2019
85817    2018
85839    2020
Name: year, Length: 13563, dtype: int64

In [76]:
imdb_movies_eng_fr_filt['year'].unique()

array([1913, 1914, 1915, 1916, 1918, 1919, 1921, 1922, 1923, 1925, 1924,
       1926, 1983, 1927, 1928, 1929, 1930, 1931, 1937, 1932, 1933, 1934,
       1935, 1936, 1940, 1938, 1939, 1941, 1942, 1943, 2001, 1944, 1946,
       1945, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956,
       1957, 1958, 1959, 1962, 1960, 1961, 1963, 1964, 1965, 1967, 1966,
       1968, 1969, 1970, 1971, 1972, 1973, 2018, 1974, 1975, 1976, 1977,
       1978, 1979, 1980, 1981, 1982, 1984, 1985, 1986, 1988, 1987, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1997, 1996, 1999, 1998, 2000,
       2002, 2005, 2003, 2004, 2008, 2006, 2007, 2011, 2009, 2012, 2013,
       2014, 2015, 2016, 2019, 2010, 2017, 2020])

In [75]:
imdb_movies_eng_fr_filt['year'] = imdb_movies_eng_fr_filt['year'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [77]:
imdb_movies_eng_fr_filt['year'].value_counts()

2014    504
2013    479
2016    467
2017    463
2015    453
       ...
1918      1
1919      1
1914      1
1922      1
1915      1
Name: year, Length: 106, dtype: int64

In [78]:
title_akas = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz',sep='\t', header=0)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [80]:
title_akas.head()

     titleId  ordering  ...     attributes isOriginalTitle
0  tt0000001         1  ...             \N               0
1  tt0000001         2  ...  literal title               0
2  tt0000001         3  ...             \N               0
3  tt0000001         4  ...             \N               0
4  tt0000001         5  ...             \N               0

[5 rows x 8 columns]

In [81]:
title_akas.language.value_counts()['fr']

3066202

In [82]:
title_akas.loc[(title_akas['titleId'] == 'tt0111161') & (title_akas['region'] == 'FR')]

          titleId  ordering       title  ...        types attributes isOriginalTitle
817146  tt0111161        12  Les Évadés  ...  imdbDisplay         \N               0

[1 rows x 8 columns]

In [83]:
titles_fr = title_akas.loc[title_akas['region'] == 'FR']

In [87]:
titles_fr.dtypes

titleId            object
ordering            int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtype: object

In [85]:
# drop duplicates to perform merge

titles_fr_1 = titles_fr.drop_duplicates(subset=['titleId'])

In [86]:
titles_fr_1.head(20)

       titleId  ordering  ...            attributes isOriginalTitle
10   tt0000002         3  ...                    \N               0
23   tt0000003         8  ...                    \N               0
28   tt0000004         4  ...                    \N               0
73   tt0000010        10  ...                    \N               0
109  tt0000012        19  ...                    \N               0
127  tt0000013        10  ...                    \N               0
143  tt0000014        13  ...                    \N               0
167  tt0000015         4  ...                    \N               0
176  tt0000016         6  ...                    \N               0
197  tt0000022         5  ...                    \N               0
211  tt0000023         7  ...                    \N               0
233  tt0000026         9  ...  alternative spelling               0
237  tt0000027         4  ...                    \N               0
242  tt0000028         3  ...                    \N               0
248  tt0000029        11  ...                    \N               0
273  tt0000031         1  ...         reissue title               0
292  tt0000033         6  ...                    \N               0
295  tt0000034         2  ...                    \N               0
297  tt0000035         1  ...                    \N               0
307  tt0000037         4  ...                    \N               0

[20 rows x 8 columns]

In [88]:
imdb_movies_eng_fr_fr_tit = pd.merge(imdb_movies_eng_fr_filt, titles_fr_1, left_on='imdb_title_id', right_on = 'titleId', how = "left")

In [ ]:
imdb_movies_eng_fr_fr_tit

In [100]:
imdb_movies_eng_fr_fr_tit.loc[(imdb_movies_eng_fr_fr_tit['original_title']=="The Shawshank Redemption"),:]

     imdb_title_id            original_title  ...  worlwide_gross_income french title
4311     tt0111161  The Shawshank Redemption  ...             $ 28815245   Les Évadés

[1 rows x 16 columns]

In [93]:
# Remove unnecessary columns again

imdb_movies_eng_fr_fr_tit.drop(['titleId', 'ordering', 'language_y','types','attributes','isOriginalTitle','region'], axis = 1, inplace = True)

In [98]:
# Rename some columns https://stackoverflow.com/questions/19758364/rename-specific-columns-in-pandas

imdb_movies_eng_fr_fr_tit.rename(columns={'language_x':'language'}, inplace=True)

In [99]:
imdb_movies_eng_fr_fr_tit.rename(columns={'title':'french title'}, inplace=True)

In [101]:
imdb_movies_eng_fr_fr_tit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13563 entries, 0 to 13562
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          13563 non-null  object
 1   original_title         13563 non-null  object
 2   year                   13563 non-null  int64
 3   genre                  13563 non-null  object
 4   duration               13563 non-null  int64
 5   country                13563 non-null  object
 6   language               13563 non-null  object
 7   director               13563 non-null  object
 8   writer                 13537 non-null  object
 9   production_company     13535 non-null  object
 10  actors                 13562 non-null  object
 11  description            13526 non-null  object
 12  avg_vote               13563 non-null  float64
 13  votes                  13563 non-null  int64
 14  worlwide_gross_income  10620 non-null  object
 15  french title           12292 non-null  object
dtypes: float64(1), int64(3), object(12)
memory usage: 1.8+ MB

In [102]:
# make a CSV file

imdb_movies_eng_fr_fr_tit.to_csv('dataframe_english_french_movies_v2.csv')
!cp dataframe_english_french_movies_v2.csv "/content/drive/MyDrive/datasets/project_2"